<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class= "container">
        <h1>Edit User By Admin</h1>
        <form action="/user/edit/<%=data.id%>" method="post">
            <!-- req.body.username -->
            <div class="form-group">
                    <label for='name'>Username</label>
                    <input type="text" name="username" class="form-control" id="exampleInputEmail" value="<%=data.username%>" placeholder="<%=data.username%>">
                </div>
            <!-- req.body.name -->
            <div class="form-group">
                <label for='name'>Name</label>
                <input type="text" name="name" class="form-control" id="exampleInputEmail" value="<%=data.name%>" placeholder="<%=data.name%>">
            </div>
            <!-- req.body.gender -->
            <div class="control-group">
                <label class="control-label" for="gender">Gender</label>
                <div class="controls">
                    <input list="gender" name="gender">
                    <datalist id="gender">
                    <option value="Male">
                    <option value="Female">
                    </datalist>
                </div>
            </div>
            <!-- req.body.job -->
            <div class="form-group">
                <label for='job'>Job</label>
                <input type="text" name="job" class="form-control" id="exampleInputEmail" value="<%=data.job%>" placeholder="<%=data.job%>">
            </div>
            <!-- req.body.phone -->
            <div class="form-group">
                <label for='phone'>Phone</label>
                <input type="text" name="phone" class="form-control" id="exampleInputEmail" value="<%=data.phone%>" placeholder="<%=data.phone%>">
            </div>
            <!-- req.body.email -->
            <div class="form-group">
                <label for='email'>Email</label>
                <input type="text" name="email" class="form-control" id="exampleInputEmail" value="<%=data.email%>" placeholder="<%=data.email%>">
            </div>
            <div class="control-group">
                <!-- Button -->
                <div class="controls" style="padding-top: 20px ">
                <button class="btn btn-success">Edit</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>